.container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    text-align: center;
}

.titulo{
    text-transform: uppercase;
    font-size: 28px;
    padding: 2em 0 1.5em 0;
}

#texto-codigo,
#texto-traducao{
    height: 40vh;
    font-size: 50px;
    resize: none;
}

.morse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    
}

.botao-limpar{
    text-transform: uppercase;
    margin: auto;
    padding: 1em 4em;
}

.container-tempo{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
}

.controle-velocidade{
    margin: 1em 0 .5em 0; 
    padding: 0.5em 1em;
    text-transform: uppercase;
}
