.container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1fr;
    text-align: center;
}

.titulo{
    font-size: 36px;
    padding: 2em 0 1.5em 0;
}

#texto-codigo,
#texto-traducao{
    height: 40vh;
    font-size: 50px;
    resize: none;
}

.morse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
    
}

.morse__botao{
    text-transform: uppercase;
    width: 20vw;
    margin: 1em auto;
    grid-column: span span;
}